@using ControleDeMedicamentos.ConsoleApp.Model
@model EditarFuncionarioViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Funcionário";
}

<link href="~/formulario.css" rel="stylesheet" />

<div class="form-header">
    <a href="/funcionarios/visualizar" class="btn-voltar">
        <i class="bi bi-arrow-left"></i> Voltar
    </a>
</div>

<form action="/funcionarios/editar/@Model.Id" method="post" class="formulario-base">
    <div class="form-group">
        <label for="Nome">Nome do Funcionário</label>
        <input type="text" name="Nome" id="Nome" value="@Model.Nome" />
    </div>

    <div class="form-group">
        <label for="Telefone">Telefone do Funcionário</label>
        <input type="text" name="Telefone" id="Telefone" value="@Model.Telefone" />
    </div>

    <div class="form-group">
        <label for="CPF">CPF do Funcionário</label>
        <input type="text" name="CPF" id="CPF" value="@Model.Cpf" />
    </div>

    <div class="form-actions">
        <button type="submit" class="btn-salvar">Gravar</button>
    </div>
</form>