@using ControleDeMedicamentos.ConsoleApp.Model
@model VisualizarFuncionariosViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Funcionários";
}

<link href="~/cards.css" rel="stylesheet" />
<link href="~/mensagem.css" rel="stylesheet" />

<div class="cabecalho-tabela">
    <h2>Funcionarios</h2>
    <a href="/funcionarios/cadastrar" class="btn-adicionar">+ Adicionar Funcionário</a>
</div>

@if (!Model.Registros.Any())
{
    <div class="mensagem-vazia">
        Nenhum registro encontrado.
    </div>
}
else
{
    <div class="grid-registros">
        @foreach (var c in Model.Registros)
        {
            <div class="card-registro">
                <div class="campo-registro">
                    <strong>Nome:</strong>
                    <span>@c.Nome</span>
                </div>
                <div class="campo-registro">
                    <strong>Telefone:</strong>
                    <span>@c.Telefone</span>
                </div>
                <div class="campo-registro">
                    <strong>CPF:</strong>
                    <span>@c.Cpf</span>
                </div>
                <div class="acoes-registro">
                    <a class="botoes-acoes" href="/funcionarios/editar/@c.Id" title="Editar">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a class="botoes-acoes" href="/funcionarios/excluir/@c.Id" title="Excluir">
                        <i class="bi bi-trash"></i> Excluir
                    </a>
                </div>
            </div>
        }
    </div>
}