.formulario-exclusao {
    max-width: 500px;
    margin: 3rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

    .formulario-exclusao p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color: #0e0d0d;
    }

    .formulario-exclusao .botoes-exclusao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .formulario-exclusao .btn-confirmar {
        background-color: #e63946;
        color: white;
        border: none;
        padding: 0.6rem 1.2rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }

        .formulario-exclusao .btn-confirmar:hover {
            background-color: #c62828;
        }

    .formulario-exclusao .btn-cancelar {
        background-color: #f3f3f3;
        color: #0e0d0d;
        border: 1px solid #ccc;
        /*        padding: 0.2rem;*/
        padding: 0.6rem 1.2rem;
        border-radius: 8px;
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        display: inline-block;
    }

        .formulario-exclusao .btn-cancelar:hover {
            background-color: #e0e0e0;
        }
